.product-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.product-image {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 10px;
   
}

.product-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.product-price {
    font-size: 1.2rem;
    color: #f39c12;
    font-weight: bold;
    margin: 5px 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.btn {
    padding: 10px 15px;
    background-color: #eb5e28;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
