nav{
background-color: #fffcf2;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.navList{
    width: 400px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
list-style: none;
}